.ListTaskDiv{
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 280px;
    height: 100vh;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1rem;
    align-items: start;
   
    
}

.ListTaskTitle{
    color: #828FA3;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 280px;
}